@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Univermag';
    src: url('/fonts/univermag.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oskari G2';
    src: url('/fonts/oskari-g2-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oskari G2';
    src: url('/fonts/oskari-g2-semibold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.font-univermag {
    font-family: 'Univermag', sans-serif;
}

.font-oskari-g2 {
    font-family: 'Oskari G2', sans-serif;
}

.font-oskari-g2-semibold {
    font-family: 'Oskari G2', sans-serif;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }