---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import beitraege from '../docs/OeffentlicheBeitraege22_23.pdf';

---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ASV Mals</title>
    <!-- Include global CSS first -->
    <style is:global>
        @import '../styles/global.css'; 
      </style>
    <link rel="preload" href="/fonts/univermag.ttf" as="font" type="font/ttf" crossorigin>

    <!-- Then include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
   
    <Header></Header>

   
    <section class="Kontakt">
        <!-- Kontakt Section -->
        <div class="w-full h-0.5 bg-primary mt-14"></div>
    
        <div class="relative ml-7">
            <div class="text-6xl font-univermag text-primary">Downloads</div>
        </div>
    
        <div class="w-full h-0.5 bg-primary mt-20"></div>
        <div class="relative ml-7">
            <table class="border-collapse border-transparent font-oskari-g2 text-primary">
                <tr>
                    <td class="pr-20 uppercase font-bold">Öffentliche Beiträge 2022 & 2023</td>
						<td>
                            <a href={beitraege} target="_blank">Download</a>
						</td>
                
            </table>

        </div>
        <div class="w-full h-0.5 bg-primary"></div>
    
       
    </section>
    
    
  
    
    <Footer></Footer>

</body>
</html>

