---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import oldsquad from '../images/geschichte/oldsquad.png';
import sportschuetzen from '../images/geschichte/sportschuetzen.png';
import albertFlora from '../images/geschichte/albertFlora.png';
import Mysnipet from '../components/geschichteSnipet.astro'


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>ASV Mals</title>
		<style is:global>
			@import '../styles/global.css';
		</style>
    <link rel="preload" href="/fonts/univermag.ttf" as="font" type="font/ttf" crossorigin>

		<link
			href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
			rel="stylesheet"
		/>
	</head>

	<body>
		<Header />

		<section class="Geschichte">
			<div class="w-full h-0.5 bg-primary mt-14"></div>

			<div class="relative ml-7">
				<div class="text-5xl lg:text-6xl font-univermag text-primary">Geschichte</div>
				<div class="font-oskari-g2-semibold lg:text-xl mt-16 font-bold uppercase text-primary">
					Vom Garber Acker zum Zentrum des Sports
				</div>
			</div>

			<div class="w-full h-0.5 bg-primary mt-2 mb-20"></div>

		</section>


			
		<Mysnipet
			number1="19"
			number2="65"
			imageSrc={oldsquad.src}
			imageAlt="Mannschaftsfoto"
			textContent="This is your text. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet nisi veniam voluptatem necessitatibus? Accusantium impedit in odit voluptate facilis? Accusamus! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur adipisci aperiam fugiat, veniam magnam a mollitia nemo quos odit corrupti rerum, illum accusamus ea voluptate?"
		/>

		<Mysnipet
			number1="19"
			number2="72"
			imageSrc={sportschuetzen.src}
			imageAlt="Mannschaftsfoto"
			textContent="This is your text. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet nisi veniam voluptatem necessitatibus? Accusantium impedit in odit voluptate facilis? Accusamus! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur adipisci aperiam fugiat, veniam magnam a mollitia nemo quos odit corrupti rerum, illum accusamus ea voluptate?"
		/>

		<Mysnipet
			number1="19"
			number2="65"
			imageSrc={albertFlora.src} width="w-2/4 object-cover float-right"
			imageAlt="Mannschaftsfoto"
			textContent="This is your text. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet nisi veniam voluptatem necessitatibus? Accusantium impedit in odit voluptate facilis? Accusamus! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur adipisci aperiam fugiat, veniam magnam a mollitia nemo quos odit corrupti rerum, illum accusamus ea voluptate?"
		/>



		<Footer />
	</body>
</html>

