---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ASV Mals</title>
    <!-- Include global CSS first -->
    <style is:global>
        @import '../styles/global.css'; 
      </style>
    <link rel="preload" href="/fonts/univermag.ttf" as="font" type="font/ttf" crossorigin>

    <!-- Then include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
   
    <Header></Header>

   

    
		<div class="relative ml-8 mt-4">
			<div class="text-6xl font-univermag text-black">Impressum</div>
		</div>

		<div class="mt-10 mx-8">
			<p>Impressum text goes here</p>
            Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur eius autem quaerat commodi, labore reprehenderit vitae beatae dolorum voluptate? Enim id ad iure, iste ut sit amet explicabo modi placeat, quam officia soluta pariatur perferendis earum, eum repudiandae cupiditate dolorem? Itaque quis adipisci hic earum iste doloribus vitae odit autem fuga, commodi reprehenderit ratione blanditiis minus eveniet? Minima ullam sit impedit dicta. Ipsum, dignissimos nisi doloremque exercitationem minima non quas sequi ipsam temporibus natus aperiam nihil pariatur nam assumenda iure error labore? Impedit accusantium ab asperiores! Praesentium architecto laboriosam id. Sit molestias necessitatibus inventore consequuntur voluptates, ipsam blanditiis corporis soluta repudiandae, quis facere alias voluptatum magnam sunt, accusamus beatae mollitia libero non officia maxime! Aut ea natus dignissimos optio dolores impedit. Neque iste animi quo, ipsa minima distinctio quis incidunt praesentium dolore, quaerat consequatur soluta a maiores tenetur veritatis amet quam? Fugit alias minima, vel temporibus nisi voluptas nobis, ex similique iure iusto eum incidunt rem nihil. At distinctio laborum consectetur, quae natus quam facilis odit reiciendis minima deleniti! Illo aliquid necessitatibus molestias ut, accusantium facilis dignissimos? Alias molestias ratione expedita necessitatibus. Sequi reiciendis aspernatur cum sunt libero culpa eaque consectetur alias voluptatibus? Non aut corporis provident illo! Corrupti possimus incidunt quibusdam illo iusto perferendis nobis repudiandae quae impedit consectetur officia repellendus voluptates, similique modi optio voluptas veritatis adipisci dicta dolorem? Tempora praesentium nisi odio corrupti. Laboriosam, veritatis libero! Omnis eveniet quas corrupti ipsam non, animi modi magnam! Ratione repellat alias fugit possimus dicta debitis. Quod eius hic atque blanditiis similique aspernatur ad laborum! Consequuntur odio labore tempora repellendus, facilis quas quos accusamus, eum ipsam ex eaque possimus laboriosam consectetur deleniti eius consequatur dicta deserunt fugiat debitis enim sapiente repudiandae ad. Recusandae repudiandae blanditiis labore iste voluptate vero quibusdam ad culpa reiciendis amet nam iusto sit doloribus debitis, dolor fugiat autem cumque? Autem blanditiis neque provident magnam eaque illum nam. Accusamus rem nobis nihil ducimus exercitationem, impedit accusantium iste libero. Delectus fugiat praesentium sapiente! Sequi ratione nobis laudantium, distinctio libero laborum quidem tenetur dolores, voluptas animi exercitationem fugit soluta amet, officiis incidunt. Quae voluptatem voluptatibus architecto hic minus corrupti dolor officia iusto sed! Animi fuga possimus id officiis optio modi deserunt, dolor velit nemo recusandae aspernatur numquam, sapiente repellendus, molestiae quis cum sequi aliquid nobis libero. Expedita laudantium eligendi, voluptatem laboriosam maiores maxime? Laborum cumque amet doloribus adipisci, nulla veritatis. Distinctio corrupti, ex officiis provident accusantium est non, velit repellendus quae obcaecati voluptas sunt sapiente omnis veritatis aperiam atque id a, alias aliquam! Eveniet natus neque praesentium. Similique voluptates optio hic commodi, facilis id? Illum quibusdam, veritatis obcaecati iusto omnis impedit laudantium animi non molestiae a voluptatum eveniet porro sint laborum aliquam vitae iste ducimus ea eaque adipisci. Necessitatibus officiis mollitia assumenda, dolores, cum eos deleniti aut veritatis aspernatur inventore neque asperiores autem impedit, consequuntur dolorum alias earum ipsum voluptatem molestias similique dicta animi doloribus? Saepe vitae accusamus magni architecto impedit! Placeat voluptas sed temporibus ipsam mollitia voluptate reiciendis beatae, aliquam dignissimos debitis ducimus facilis ipsa laborum optio eius earum similique libero sapiente perspiciatis. Maiores consectetur veritatis necessitatibus recusandae unde commodi? Odit facilis adipisci, officia dolorum nesciunt praesentium voluptatem sint unde debitis fugiat libero ullam! Molestiae animi voluptatem amet doloremque iste quos quae eum maiores quis hic, tempora temporibus quia illo praesentium necessitatibus explicabo. Soluta ipsum nemo natus iusto dolor ipsam nam. Dolor id labore excepturi impedit, ab obcaecati, a dolorum temporibus unde iste eveniet sit. Tempore corrupti similique facere doloremque commodi consequuntur deserunt sunt, dicta libero voluptatem assumenda dolorem. Quia id provident voluptas modi tempore eius, aliquam iusto incidunt nihil reiciendis numquam soluta a fuga quisquam voluptatibus voluptatum eveniet illum. Aspernatur laudantium aliquid est unde fugiat amet asperiores itaque laborum ducimus, perferendis animi, nesciunt totam sint aperiam! Repellendus a voluptas ea, dolorem porro quam voluptatibus doloremque, dicta quis nobis recusandae laudantium magni, quas saepe rem hic cum ut. Animi culpa consequatur rerum a aperiam incidunt, sit sapiente magnam! Et, facilis ipsam asperiores a illum, commodi adipisci dignissimos earum, explicabo hic inventore incidunt? Beatae odit reiciendis repudiandae modi molestiae qui blanditiis provident architecto laboriosam eius cupiditate velit ipsa expedita eos ducimus dolor, commodi assumenda dolorem, vel fugit itaque, harum quidem! Laudantium reprehenderit veritatis magnam aliquid velit, ratione est, unde sed tempora quisquam architecto corrupti qui non debitis, quam autem voluptates? Nisi, eaque nemo corporis porro voluptatibus voluptatem sed inventore magnam, impedit delectus aspernatur iusto praesentium aperiam vitae blanditiis laborum ad quasi ducimus esse unde necessitatibus quisquam! Sit sint voluptates eveniet ullam voluptate consequatur commodi sunt molestiae numquam at. Repudiandae, ea? Eveniet iusto rem totam molestias sit sapiente unde distinctio eius ratione. Quo nemo dolorem provident quam dolorum amet ipsum iusto corrupti reiciendis, temporibus eveniet fugit eaque exercitationem? Est perferendis, facilis consequuntur sequi numquam dolorem amet hic repellendus quaerat facere maxime, voluptatibus explicabo molestiae, libero quam praesentium consequatur saepe voluptate in recusandae doloremque harum? Sint ut culpa commodi accusantium non, iure eos animi similique laborum harum? Nulla accusamus alias, aut sint fugit est ducimus modi inventore, veniam repellendus doloremque. Aliquid itaque blanditiis at quod a voluptas in aperiam, quo ullam. Pariatur, magnam quae! Neque nobis autem quidem quos explicabo repellat modi et, praesentium debitis quaerat fuga recusandae doloremque ipsam reprehenderit fugit doloribus eos voluptas. Quae vero blanditiis, quod voluptate delectus unde expedita quos perspiciatis velit veritatis! Labore, voluptatibus laboriosam error dolorem mollitia neque esse quo modi, praesentium ex deserunt dolorum vel. Accusantium doloremque rerum natus quaerat iste adipisci tempora, ea quidem, distinctio quisquam illo aliquid modi beatae in aspernatur fuga autem voluptates harum eum! Cupiditate doloremque maxime libero animi facere, et reprehenderit. Nisi laboriosam id esse magnam officiis quo sapiente non perspiciatis magni repudiandae, adipisci maxime nam! Magnam ullam officiis exercitationem cum sequi earum cumque reiciendis libero laborum tenetur molestias, iure odit est? Tempora iure eveniet, alias sapiente doloremque recusandae neque eaque cum id fugit incidunt eum voluptatibus minima dolorum, quidem itaque voluptatem error maxime molestias magni eligendi. Quo, eius architecto. Laborum asperiores nobis debitis, sint unde dicta dolorum maxime nostrum temporibus quo sequi, velit mollitia. Magnam culpa numquam incidunt beatae! ipsum dolor, sit amet consectetur adipisicing elit. Recusandae, maiores totam. Repudiandae neque dolorum vero aperiam! Sint, expedita voluptatem consequuntur quisquam quas reprehenderit esse autem fugit laudantium iusto temporibus quae perferendis fuga quis beatae inventore suscipit quod id deserunt itaque a ratione ea! Dignissimos facilis iusto molestiae perspiciatis iste, iure tempore fuga minima, itaque accusantium voluptatum totam cum corrupti minus saepe. Dolorem, repellat alias autem odio, aspernatur iusto sapiente exercitationem laborum nisi ex soluta distinctio sint dolores iste illo inventore aperiam ipsam necessitatibus facilis repudiandae. Corporis reiciendis pariatur, quaerat natus, aliquid fugit deserunt facilis animi ut ipsa impedit at eligendi.
		</div>

    
       
  
    
    <Footer></Footer>

</body>
</html>

