---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ASV Mals</title>

    <style is:global>
        @import '../styles/global.css'; 
    </style>

<link rel="preload" href="/fonts/univermag.ttf" as="font" type="font/ttf" crossorigin>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
   
    <Header></Header>



    <section class="News">
        <div class="w-full h-0.5 bg-primary mt-14"></div>
    
        <div class="relative ml-7">
            <div class="text-6xl font-univermag text-primary">NEWS</div>
        </div>
         <div class="w-full h-0.5 bg-primary mt-16 mb-8"></div>
       
       
    </section>

    <section>


<div id="curator-feed-default-feed-layout">
    <a  href="https://curator.io" target="_blank" class="crt-logo crt-tag" style="opacity: 0; color: transparent;" >Powered by Curator.io</a>
</div>




<!-- The Javascript can be moved to the end of the html page before the </body> tag --><script type="text/javascript">
/* curator-feed-default-feed-layout */
(function(){
var i,e,d=document,s="script";i=d.createElement("script");i.async=1;i.charset="UTF-8";
i.src="https://cdn.curator.io/published/493901d5-275e-4fa3-8688-620be2a525d7.js";
e=d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
})();
</script>
    </section>
    
    
  
    
    <Footer></Footer>

</body>
</html>

