---
const {title} = Astro.props;
---
<div class="w-full h-0.5 bg-primary mt-14"></div>

    <div class="relative ml-7">
        <div class="text-5xl md:text-6xl font-univermag text-primary mb-20">{title}</div>
    </div>
